*{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  body {
    background-color:white;
    color:rgb(8, 8, 8);
  }
  
  header {
    height:98px;
    margin: 0;
    background-color:#000000;
    color:#ffffff; 
    font-size: larger;
    display:flex;
    justify-content: space-between;
  }
  
  /* ---------Name in header--------- */
  h1 {
    margin: 0;
    position: static;
    padding-top: 35px; 
    padding-left: 10px;
    font-size: 395%;
    font-style:italic;
    text-shadow: 2px 2px 5px #000000; 
    color:white;
  }

  /* ---------navigation at top of page--------- */
/* nav li {
    display:inline;
    text-shadow: 2px 2px 5px #000000;
  }
  
  /* Nav list anchors 
  a {
    color:white;
    margin: 0 80px 0 0;
  } */
  
  /* a:hover {
   color: hotpink;
    font-weight: bold;
    
  }  */

  /* ---------Thank you for your interest section--------- */


.flex-container-comingsoon {
    display: flex;
    flex-flow: block;
    flex-direction:block;
    justify-content: center;
    height: 80vh;
  } 
  
  /* Thank you for your interest title */
  h2 {
    font-size: 250%;
    font-style:italic;
    text-align: center;
    margin-top: 160px;;
  }  
  
  /* coming soon blurb */
  p {
    text-align: center;
    font-size: 20px;
    line-height: 1.5;
    padding-bottom: 5px;
    width: 75%;
    margin-top: -100px;
  }

   /* home button */
  .home a {
   font-size:200% ;
   font-weight: bold;
   color:black;
   text-align: center;
  }

  .home a:hover {
    color: hotpink;
     font-weight: bold;
     
   } 

  /* ---------Page Footer--------- */
footer{
    height:35px;
    background-color:#000000;
    color:#ffffff; 
  }
  
  h6 {
    color:#ffffff; 
    font-size: 125%;
    font-style:italic;
    text-align: center;
    margin:auto;
  }
  
  /* ---------responsive layout--------- */
   @media screen and (max-width: 768px) {
    body,
   header,
    footer {
      flex-direction: column;
      justify-content: center;
      display:block;
    }
  
    header {
      height: 38vh;
      width: auto;
  
    }
  
    h1 {
      text-align: center;
    }

    h2 {
        margin-top: 80px;
    }
  } 