*{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  background-color:white;
  color:rgb(8, 8, 8);
}

header {
  height:98px;
  margin: 0;
  background-color:#000000;
  color:#ffffff; 
  font-size: larger;
  display:flex;
  justify-content: space-between;
}

/* ---------Name in header--------- */
h1 {
  margin: 0;
  position: static;
  padding-top: 35px; 
  padding-left: 10px;
  font-size: 395%;
  font-style:italic;
  text-shadow: 2px 2px 5px #000000; 
  color:#ffffff
}

/* ---------navigation at top of page--------- */
nav li {
  display:inline;
  text-shadow: 2px 2px 5px #000000;
}

/* Nav list anchors */
a {
  color:white;
  margin: 0 10px 0 0;
}

/* ---------about me section--------- */


.flex-container-intro {
  display: flex;
  flex-flow: row wrap;
  flex-direction:row;
  justify-content: center;
} 

/* about me image */
.image { 
  width: 40%;
} 

/* about me title */
h2 {
  font-size: 200%;
  font-style:italic;
  text-align: center;
}  

/* about me blurb */
p {
  text-align: center;
  font-size: large;
  line-height: 1.5;
  padding-bottom: 5px;
}

/* ---------Portfolio section--------- */

/* Portfolio heading */
h3 {
  font-size: 200%;
  font-style:italic;
  text-align: center;
  margin-top: 5px;
}

/* Project headings */
h4 {
  font-size: 150%;
  text-align: center;

}

.portfolio {
  display: flex;
  flex-direction:row;
  flex-flow: row wrap;
  color: black;
  justify-content: center;
  width: 100%;
}

/* --------Project boxes--------- */
.Project {
 margin: 0 25px 15px 25px; 
 max-width: 1100px;
 align-items: center;
 background-color: hotpink;
 justify-content: center;
}

.Project:hover {
  background-color: rgb(28, 212, 212);
  font-weight: bold;
  
} 

/* ---------Project images anchor---------
had to add margin to get images to center on their background. */
.project-a-img {
  margin: 0 0 0 8px;
}

/* ---------Secret message--------- */
h4[data-secret]:hover::after {
  content:attr(data-secret);
  background-color:white;
  display:block;
  color:hotpink;
  margin:7px 5px 5px 5px;
  font-size: 19px;
  font-weight: bold;
} 

/* ---------contact me form--------- */
form {
  height: 150px;
  width: auto;
  border-top: 3px solid #000000;
  background-color:antiquewhite;
  font-size: large;
}

/* contact me title */
h5 {
  font-size: 180%;
  font-style:italic;
  text-align: center;
  margin-top: 6px;
  margin-bottom: 3px;
}

/* Form container*/
.flex-container {
  justify-content:center;
  font-size: 150%;
}


.form-button {
  justify-content: center;
  display:flex;
  margin-top: 5px;
}

/* ---------Page Footer--------- */
footer{
  height:35px;
  background-color:#000000;
  color:#ffffff; 
}

h6 {
  color:#ffffff; 
  font-size: 125%;
  font-style:italic;
  text-align: center;
  margin:auto;
}

/* ---------responsive layout--------- */
 @media screen and (max-width: 768px) {
  /* Use flex-direction to stack the navbar, sidebar, and body  */
  body,
 header,
 .project-a-img,
  footer {
    flex-direction: column;
    justify-content: center;
    display:block;
  }
} 


